@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    /* max-height: 1280px; */
    .shop {
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      justify-items: center;
      max-width: 1024px;
      padding: 0 110px;
      .shop__product {
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          transform: scale(110%);
        }
      }
    }
  }
}
@media (min-height: 1081px) and (orientation: landscape) {
  body {
    min-height: 100vh;
    .shop {
      min-height: auto;
      max-height: 1080px;
    }
  }
}
