@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* font-family: 'Montserrat', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: $color-background;
  .shop {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    min-height: 100vh;
    width: 100vw;
    margin: 25px 0 25px;
    font-family: 'Montserrat', sans-serif;
    .shop__product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 320px;
      border-radius: 20px;
      background-color: $color-background-product;
      border: 3px solid transparent;
      .shop__photo {
        width: 210px;
        height: 210px;
        // object-fit: cover;
        margin: 20px 0 15px;
        border-radius: 20px;
      }
      .shop__name,
      .shop__price {
        font-size: 1.6rem;
        font-weight: 500;
        font-style: italic;
      }
      .shop__price {
        font-size: 1.4rem;
        color: $font-color;
        flex-basis: 100%;
        /* padding-bottom: 40px; */
        text-align: center;
        margin-top: 20px;
        /* jak przysunąć cenę do nazwy przedmiotu, ale i tak imo lepiej tak jak u mnie */
      }
      &:nth-last-child(1) .shop__name,
      &:nth-last-child(2) .shop__name,
      &:nth-last-child(1) .shop__price,
      &:nth-last-child(2) .shop__price {
        color: gray;
      }
    }
    .shop__product--active {
      /* ???????????? */
      transition: 0;
      border: 3px solid #002586;
    }
  }
}
